//------------------------------
// unicode characters
$checkmark-unicode: \2713;
$radio-circle-unicode: \25C9;
$square-unicode: \25a2;
$arrow-down-right: \21b3;
$arrow-left:  \2190;
$arrow-up:    \2191;
$arrow-right: \2192;
$arrow-down:  \2193;
$refresh-arrow: \21BB;