@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800);
@import "_mixins.sass";
@import "_reset.scss";
@import "_color_palette.scss";
@import "_variables.scss";
@import "_utils.scss";
@import "_unicode.scss";

//------------------
// graphic styles
@import "_typography.scss";
@import "_elements";
@import "_links.scss";
@import "_lists.scss";

//-------------------
@import "_layout.scss";


//----------------------------
@import "_header.scss";
@import "_video.scss";